h1 Response
p Welcome to #{title}
div
	h2 Hi #{request.title} #{request.username}
	table(id='example',border='1')
		tr
			- for(var key in request)
				th !{key}
		tr
			- for(var key in request)
				td !{request[key]}